<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class ="top-left-img"></div>
        <div class = "top-filter-buttons">
            <button onclick="">일상</button>
            <button onclick="">요리</button>
            <button onclick="">여행</button>
            <button onclick="">영화</button>
            <button onclick="">IT</button>
        </div>
        <div class ="top-right-img">
            <!-- 이미지로 변환 가능 -->
            {% if user.is_authenticated %}
            <button onclick="">Logout</button>
            <button onclick="">Just Write</button>
            {% else %}
            <button onclick="">Login</button>
            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <span>Made with Django</span>
    </footer>
</body>