{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navi_white.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/navi_black.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}?{% now "U" %}">
    <title>Document</title>
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div class="nav-bar_w">
            <div class="nav-container_w">
            <a href="#">
                <img src="{%static 'img/header2.svg'%}" alt="헤더 로고"
            /></a>
            
            <div class="nav-buttons_w">
                <div class="nav-topics_w">
                <a href="#">일상</a>
                <a href="#">요리</a>
                <a href="#">여행</a>
                <a href="#">영화</a>
                <a href="#">IT</a>
                </div>
                <div class="row-box_w">
                {% if user.is_authenticated %}
                <button class="primary-button_w logout-button_w" onclick=""><a href="javascript:{document.getElementById('logout').submit()}" style="color:white" >logout</a></button>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %} <input type="hidden" />
                </form>
                <button class="primary-button_w" onclick="">Just Write!</button>
                {% else %}
                <button class="primary-button_w" onclick=""><a href="{% url 'login' %}" style="color:white">Login</a></button> 
                {% endif %}
                </div>
            </div>
            </div>
        </div>
        </header>
    {% block content %}
    {% endblock content %}
    <!-- 하단 -->
    <footer class="footer">
        <div class="container">
            <p>Made with <span>Django</span></p>
        </div>
    </footer>
</body>