{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filter%}
<head>
    <link rel="stylesheet" href="{% static 'css/postlist.css' %}?{% now "U" %}">
</head>
<section class ="post-list">
<head>
    <link rel="stylesheet" href="{% static 'css/postlist.css' %}?{% now "U" %}">
</head>
<section class ="post-list">
    <!-- 최고 조회수 게시글 = best_article -->
    {% for post in posts %} {% if forloop.first %}
    <header class = "first-post-box desktop">
        <div class="container">
            <div class="post-info-box">
                <h3>{{post.title}}</h3>
                <p>
                    {{ post.content|text_only }}
                </p>
                <button>READ MORE</button>
            </div>
            <div class="thumbnail-img"><img src = {{ post.content|get_img_src }}></div>
        </div>
    
    </header>
    {% endif %} {% endfor %}
    </header>
    <!-- 전체 게시글들 -->
    <article class = "post-box">
        <div class="container">
            {% for post in posts %} {% if not forloop.first %}
                <a class="card-link" href="{% url 'post_detail' post.id %}">
                    <div class="card">
                        <div class="card-thumbnail-img">
                            {% if post.img_link %}
                                <img src="{{post.img_link}}" alt="Thumbnail image" />
                            {% else %}
                                <div 
                                    style="width: 100%; height: 100%; background-color: transparent"
                                ></div>
                            {% endif %}
                        </div>
                        <div class="card-info-box">
                                <img src="{% static 'img/ex1.svg' %}">
                                <p>{{ post.created_at }}</p>
                                <h3>{{ post.title }}</h3>
                                <div class="sub-info">{{ post.content|text_only }} </div>
                        </div>
                    </div>
                </a>
        </div>
        {% endif %} {% endfor %} 
    </article>
</section>
{% endblock %}