{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/postlist.css' %}?{% now "U" %}">
</head>
<section class ="post-list">
    <!-- 최고 조회수 게시글 = best_article -->
    <header class = "first-post-box">
        <div class="container">
            <div class="post-info-box">
                <h3>Best Post</h3>
                <p>Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat purus dolor luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.
                </p>
                <button>Read me</button>
            </div>
            <div class="thumbnail-img"><img src = {% static 'img/best.svg' %}></div>
        </div>
        
        {{best_post.title}}
        {{best_post.content}}
        <img src="{{best_post.img_url}}" alt="">
        {% comment %} <a class="READ MORE" href="{% url "post" owner_id=best_post.writer post_id=best_post.id%}">Read more</a> {% endcomment %}
    </header>
    <!-- 전체 게시글들 -->
    <article class = "post-box">
        <div class="container">
            <div class="card"><a href="#">
                <div class="card-info-box">
                        <img src="{% static 'img/ex1.svg' %}">
                        <p>2023-09-07 12:13:01</p>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="sub-info">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo </div>
                </div>
            </div></a>
            <div class="card"><a href="#">
                <div class="card-info-box">
                        <img src="{% static 'img/ex2.svg' %}">
                        <p>2023-09-07 12:13:01</p>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="sub-info">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo </div>
                </div>
            </div></a>
            <div class="card"><a href="#">
                <div class="card-info-box">
                        <img src="{% static 'img/ex1.svg' %}">
                        <p>2023-09-07 12:13:01</p>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="sub-info">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo </div>
                </div>
            </div></a>
            <div class="card"><a href="#">
                <div class="card-info-box">
                        <img src="{% static 'img/ex2.svg' %}">
                        <p>2023-09-07 12:13:01</p>
                        <h3>Lorem ipsum dolor</h3>
                        <div class="sub-info">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus aliquam pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus id purus feugiat et mi justo </div>
                </div>
            </div></a>
        </div>

        {% comment %} db랑 연결 쪽 완성되면 사용 {% endcomment %}
            {% comment %} {% for post in posts %}
                <div>
                    <a href="{% url "post" owner_id=post.writer post_id=post.id%}">
                        {{post.img_url}}
                        {{post.upload_date}}
                        {{post.title}}
                        {{post.content}}
                    </a>
                </div>
            {% endfor %} {% endcomment %}
    </article>
</section>
{% endblock %}