<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div class ="top-left-img">
        </div>
        <div class = "top-filter-buttons">
            <button onclick="">일상</button>
            <button onclick="">요리</button>
            <button onclick="">여행</button>
            <button onclick="">영화</button>
            <button onclick="">IT</button>
        </div>
        <div class ="top-right-img">
            <!-- 이미지로 변환 가능 -->
            <button onclick="">logout</button>
            <button onclick="">just Write</button>
        </div>

    </header>
    <!-- 메인-->
    <section class ="main">
        <!-- 최고 조회수 게시글 -->
        <article class = "best-post"></article>
            <div class="READ MORE"></div>
        <!-- 전체 게시글들 -->
        <article class = "posts"></article>
    </section>

    <!-- 하단 -->
    <footer>
        <span>Made with Django</span>
    </footer>
</body>
</html>