{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <p>username</p>
        <input type="text" name="username">
        <br>
        <p>password</p>
        <input type="password" name="password">
        <br>
        <input type="submit" value="로그인">
    </form>

{% comment %} 로그아웃 부분 다른 html에 추가하면될듯 {% endcomment %}
    {% if user.is_authenticated %}
    <p>{{ user.username }}</p>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
{% else %}
    <a href="{% url 'signup' %}">회원가입</a>
{% endif %}
<a href="{% provider_login_url 'google' %}">구글로그인</a>
<a href="{% provider_login_url 'naver' %}">네이버로그인</a>
<a href="{% provider_login_url 'kakao' %}">카카오로그인</a>

</body>
</html> 