{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class ="Write">
    <article class ="content">
        <div class="title"></div>
        <div class="detail"></div>
    </article>

    <aside class="Content-option">
        <!-- AI 글 자동완성 -->
        <div class="autocomplete">AI 글 자동완성</div>
        <!-- TOPOIC -->
        <div class="Topic">
            <input type="radio" name="topic" value="daily">일상
            <input type="radio" name="topic" value="cook">요리
            <input type="radio" name="topic" value="travel">여행
            <input type="radio" name="topic" value="movie">영화
            <input type="radio" name="topic" value="IT">IT / 전자기기
        </div>
        <!-- UPLOAD INFO -->
        <div class="Upload-Info"></div>
            <!-- 이미지 업로드 -->
            <input type="file" id="fileUpload" />
            <!-- 글 저장 -->
            <div class="Save">
                <!-- 이미지로 변환 가능 -->
                <button onclick="">임시저장</button>
                <button onclick="">글작성</button>
            </div>
    </aside>
</section>
{% endblock %}